*.ipynb_checkpoints*
*__pycache__*
*.pyc
*.egg-info
build/
.pytest_cache
.python-version
.vscode
docs/build/*
dist
*.egg-info
_build
*venv*
*.coverage
*.DS_Store
.idea/
tmp

# Images

examples/*.png
menelaus/*.png
tests/*.png

*.tox*
