*.ipynb_checkpoints*
*__pycache__*
*.pyc
*.egg-info
.pytest_cache
.vscode
docs/build/*
dist
*.egg-info
_build
src/molten/tools/artifacts/*
src/molten/tools/*.ipynb*
tests/molten_tests/*.ipynb*
*nohup*
*.coverage