*.ipynb_checkpoints*
*__pycache__*
*.pyc
*.egg-info
build/
.pytest_cache
.vscode
docs/build/*
dist
*.egg-info
_build
*venv*
*.coverage
*.DS_Store
.idea/

# Images

examples/*.png
src/*.png
tests/*.png

*.tox*
