#not to specify the dependencies of your package, but the packages needed to work
# on developing your package.
jupyter
pandas
numpy
sklearn
statistics
scipy
matplotlib #matplotlib and plotly libraries are only strictly necessary for the kdqTree visualization stuff
plotly
black
pylint
math
-e . #install current (molten) directory in editable mode